# Ignora tudo
*

# Mantém pastas
!*/

# JavaScript
!*.js

# EJS
!*.ejs

# Arquivos importantes
!.gitignore
!README.md
!package.json
!package-lock.json

node_modules/
public/images

# Ignorar ambiente
.env
.env.*