# Ignora tudo
*

# Mantém pastas
!*/

# JavaScript
!*.js

# EJS
!*.ejs

!*.css
projeto/

# Arquivos importantes
!.gitignore
!README.md
!package.json
!package-lock.json

node_modules/


# Ignorar ambiente
.env
.env.*

